/*footer*/
.footer{
    margin-top: 1rem;
    padding: 1rem;
    position: relative;
    height: 100px;
    bottom: -200px;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center
  }
  button {
    background-color: #e6b89c;	
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
      padding: 10px 15px;	
  }
  .contactme{
    color: #e6b89c;
    font-size: 30px;
    text-align: center;
  }
  form{
    color: #e6b89c;
    width: 90%;
    line-height: 3.0;
    font-size: 20px;
    text-align: center;
  
  }
  input {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid var(--dark);
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
  }
  
  textarea {
      width: 600px;
      height: 120px;
      border: 3px solid #cccccc;
      padding: 5px;
  }
  