:root{
    --main-color1: #fe938c;
    --main-color2:#e6b89c;
    --main-color3:#ead2ac;
    --main-color4:#9cafb7;
    --main-color5: #4281a4;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
  }
  Form{
    border: 1px solid var(--main-color4);
    border-radius: 12px;
    padding: 20px;
  }
  .formsection{
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
  }