body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main-color1: #fe938c;
  --main-color2:#e6b89c;
  --main-color3:#ead2ac;
  --main-color4:#9cafb7;
  --main-color5: #4281a4;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
/*about*/
.flexwrap{
  display: flex; 
}
.col{
  flex: 50%;
  padding: 10px;
}
.left{
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
}
.icon{
  margin-top: 30px;
  margin-right: 50px;
  width: 30px;
  float: left;
  right: 200px;
}
.skillBar{
  display: flex;
  flex-direction: row;
  
}
.item{
  flex: 45%;
  margin-top: 47px;
  padding-right: 20px;
}


/*nav*/


.barul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-color1);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
}

.barli {
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.barli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.barli a:hover {
  color: var(--main-color3);
}


/*main*/
.main-color1{
  color: var(--main-color1);
  font-size: 30px;
}
.main-color2{
  color:var(--main-color2);
  font-size: 30px;
}
.main-color3{
  color: var(--main-color3);
  font-size: 30px;
}
.main-color4{
  color: var(--main-color4);
  font-size: 30px;
}
.main-color5{
  color: var(--main-color5);
  font-size: 30px;
}
.left{
  float: left;
  margin-left: 70px;
  position: relative;
  
}

/*project list*/
.project_name{
  color: #4281a4;
  text-align: center;
}
.link{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.project_img{
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.row {
 display: flex;
 flex: 0 1 auto;
 flex-wrap:wrap;
 flex-direction: row;
 justify-content: center;
}

.row,
.row > .column {
  padding: 5px;
  margin: 5px;
  justify-content: auto;
}


.column {
  width: 30%;
  padding: 5px;
  margin-top: 10px;
}



.content {
  background-color: gray;
  padding: 10px;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.link:hover{
color: var(--main-color1);
}

/*footer*/
.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  height: 100px;
  bottom: -200px;
  top: 150px;
  left: 0;
  width: 100%;
  text-align: center
}
button {
  background-color: #e6b89c;	
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}
.contactme{
  color: #e6b89c;
  font-size: 30px;
  text-align: center;
}
form{
  color: #e6b89c;
  width: 90%;
  line-height: 3.0;
  font-size: 20px;
  text-align: center;

}
input {
  font-size: 1rem;
  padding: 5px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

/*resume*/
.downloadlink{
  text-decoration: none;
  text-align: center;
  color: white;
}
.resume{
  padding: 50px;
}
